h1, h2, h3, p{
    text-align: center;
    font-family: 'montserrat', sans-serif;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(104, 164, 121, 0.2);
    border-radius: 20px;
    border: 4px solid rgba(104, 164, 121, 0.1);
    margin: 40px auto;
    padding: 50px;
    width: 60%;
}

