.banner {
  width: 100%;
  overflow: hidden;

  padding: 30px 0;

  background: transparent;
}

.banner-track {
  display: flex;
  align-items: center;
  gap: 80px;

  width: max-content;

  animation: scroll 30s linear infinite;
}

.banner img {
  height: 55px;
  width: auto;

  object-fit: contain;

  opacity: 0.8;

  transition: 0.3s ease;
}

.banner img:hover {
  opacity: 1;
  transform: scale(1.1);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}